<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Aegis Vault | Secured by ShadowAccess</title>
<link rel="stylesheet" href="/css/global.css">
<% if (typeof pageCss !== 'undefined') { %>
    <link rel="stylesheet" href="/css/<%= pageCss %>">
<% } %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
